body{
    background-color: powderblue;

    
}
p{
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 20px !important;
    text-align: center !important;
}
h1{
    text-align: center !important;
    color:brown !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}
header{
    position: fixed;
    margin-top:0px ;
}
.header{
    width: 80%;
    background-color: white;
    margin: auto;
    border: 4px dashed goldenrod;
    text-align: center;
}
img{
    width: 40%;
    
    height: 300px;

    
}
.media img
    {width: 300px;
        height: 170px;
        border-radius: 10%;
        margin: 12px 2px auto;


}
.media p{
    text-align: center;
    padding: 10px;
    border: 1px blue solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.media {
    float: left;
            border: 4px #ccc solid;
          /*  width: max-content; */
          box-shadow: gray 2px 5px 10px;
            height: 250px;
            margin-left: 65px;
            margin-bottom: 40px;
            background-image: radial-gradient(lightsteelblue, pink);
            align-content: center ;
            padding: 12px;

}
.songs{
    float: left;
    border: 4px #ccc solid;
  /*  width: max-content; */
  box-shadow: gray 2px 5px 10px;
    height: 50px;
    margin-left: 65px;
    margin-bottom: 40px;
    background-image: radial-gradient(lightsteelblue, pink);
    align-content: center ;
    padding: 12px;
}
.video{
    float: left;
    border: 1px #ccc solid;
  /*  width: max-content; */
  box-shadow: gray 2px 5px 10px;
    height: auto;
    margin-left: 5px;
    margin-right: 1px;
    margin-bottom: 40px;
    background-image: radial-gradient(lightsteelblue, pink);
    align-content: center ;
    padding: 5px;
    width: auto; 

    
}